.cabecera__menu{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 1rem;
}
.cabecera__busqueda{
    display: flex;
}
.cabecera__logo{
    height: 1.75rem;
}
.cabacera__search{
    display: none;
}
.cabecera__login{
    background: var(--background-color-blanco);
    border-color: var(--color-boton-azul);
    border-radius: 5px;
    box-shadow: 0 0 2px 0;
    color: var(--color-fuente-azul);
    padding: 0.75rem 2.969rem;
}
.cabacera__logo-search{
    height: 1.5rem;
    width: 1.5rem;
}
@media screen and (min-width: 768px){
    .cabecera__menu{
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .cabacera__search{
        background: var(--background-color-preto);
        border: none;
        border-radius: 100px;
        display: block;
        margin-left: 2rem;
        padding: 0 1rem;
        width: 208px;
    }
    .cabacera__logo-search{
        display: none;
    }
}
@media screen and (min-width: 1024px){
    .cabecera__menu{
        padding: 2rem 9.5rem;
    }
    .cabecera__logo{
        height: 3.125rem;
    }
    .cabacera__search{
        width: 24.563rem;
        display: flex;
        justify-content: space-between;
    }
}